@model TodoModel

@{
    ViewBag.Title = "title";
}

<script>
    window.onclick = function (ev) {
        if(ev.target === $('#popout-background')[0])
            closePopoutWindow();
    }
</script>

<div id="popout-background">
    <div id="popout-content">
        <span class="close" onclick="closePopoutWindow()">&times;</span>
        <div class="popout-content-data">
            <form id="formToSend" onsubmit="return SendForm({id: @Model.Id})">
                <div class="form-group">
                    <label for="taskHeader">Task Header</label>
                    <input name="taskHeader" type="text" class="form-control" id="taskHeader" placeholder="Enter Task Header" value="@Model.TaskHeader" />
                </div>
                <div class="form-group">
                    <label for="taskContent">Task Content</label>
                    <input name="taskContext" type="text" class="form-control" id="taskContent" placeholder="Enter Task Content" value="@Model.TaskContent" />
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>
</div>